@model IEnumerable<WebGiayyy.Models.CategoryGroup>

@foreach (var group in Model)
{
    <details>
        <summary>
            <h4>@group.GroupName</h4>
        </summary>
        @foreach (var item in group.Items)
        {
            <div class="children">
                <a href="@Url.Action("Category", "Products", new { slug = item.CatSlug })"> @item.CatName </a>
            </div>
        }
    </details>
}
