
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-center mt-4">
    <div class="col-md-7">
        <div class="card shadow-sm">
            <div class="cat-tree">
                <h4 class="mb-3">Thông tin nhận hàng</h4>

                @using (Html.BeginForm())
                {
                    <div class="mb-3">
                        <label>Họ tên</label>
                        <input name="FullName" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label>Số điện thoại</label>
                        <input name="Phone" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label>Địa chỉ</label>
                        <textarea name="Address" class="form-control" rows="3" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label>Ghi chú</label>
                        <textarea name="Note" class="form-control"></textarea>
                    </div>

                    <button class="btn btn-brand w-100 btn-lg">
                        Xác nhận đặt hàng
                    </button>
                }
            </div>
        </div>
    </div>
</div>
