
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow rounded-4">
            <div class="card-body p-4">
                <h3 class="text-center fw-bold mb-3">Đăng ký tài khoản</h3>

                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger text-center">
                        @ViewBag.Error
                    </div>
                }

                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Họ tên</label>
                        <input name="fullname"
                               class="form-control form-control-lg"
                               placeholder="Nguyễn Văn A" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="email"
                               class="form-control form-control-lg"
                               placeholder="example@gmail.com" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Số điện thoại</label>
                        <input name="phone"
                               class="form-control form-control-lg"
                               placeholder="09xxxxxxxx" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Mật khẩu</label>
                        <input type="password" name="password"
                               class="form-control form-control-lg"
                               placeholder="••••••••" required />
                    </div>

                    <button class="btn btn-dark w-100 py-2">
                        Đăng ký
                    </button>
                </form>

                <div class="text-center mt-3">
                    <span class="text-muted">Đã có tài khoản?</span>
                    <a href="@Url.Action("Login","Products")"
                       class="fw-semibold text-decoration-none">
                        Đăng nhập
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


