
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5">
    <i class="fas fa-check-circle text-success" style="font-size:80px"></i>
    <h3 class="mt-3">Đặt hàng thành công!</h3>
    <p>Cảm ơn bạn đã mua hàng.</p>

    <a href="@Url.Action("Index","Products")" class="btn btn-dark mt-3">
        Tiếp tục mua sắm
    </a>
</div>